* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

/* #root {
    display: flex;
    justify-content: center;
} */

.App {
    background: #FFFFFF;
    
    /* width: 800px;
    color: rgb(56, 71, 71) */
}

.container {
    width: 1367px;
    margin: 0 auto;
}