.footer {
    background: #3F4E65;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    padding-top: 71px;
    height: 500px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.footer-item {
    max-width: 310px;
}

.about-sultan {
    line-height: 150%;
    margin-top: 15px;
    margin-bottom: 45px;
}

.subscribe {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 14px;
}

.footer-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 25px;
}

.footer-item ul li {
    list-style: none;
    margin-bottom: 20px;
}

.footer-item ul li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer-item ul li a:hover {
    text-decoration: underline;
}

.footer-messenger {
    font-size: 14px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.messenger-box {
    display: flex;
}

.messenger-box img {
    margin-right: 10px;
    cursor: pointer;
}