.header {
    padding-top: 14px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    border: 0;
    border-bottom: solid #3F4E65 1px;
    opacity: 0.2;
    width: 100%;
}

.header:last-of-type {
    padding-top: 25px;
    padding-bottom: 24px;
}

.contacts {
    display: flex;
}

.contacts-item {
    display: flex;
    margin-right: 41px;
    align-items: center;
}

.contacts-item:last-of-type {
    margin-right: 0;
}

.contacts-item-img {
    margin-right: 18px;
}

.contacts-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F4E65
}

.contacts-item-bold-text {
    font-weight: 600;
    color: #111111;
}

.navigation {
    display: flex;
}

.navigation-item {
    list-style: none;
    margin-left: 60px;
}

.navigation-item a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #3F4E65;
    text-decoration: none;
}

.navigation-item a:hover {
    text-decoration: underline;
}

.phone {
    display: flex;
    align-items: center;
}

.phone-number {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
}

.phone-time {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #3F4E65;
}

.phone-order {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #3F4E65;
}

.operator {
    position: relative;
    margin-left: 10px;
}

.operator img {
    border-radius: 34px;
}

.online {
    background: #1FD85D;
    border: 2px solid #F0F6FA;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 28px;
    right: 8px;
}

.basket {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.basket-box {
    position: relative;
    margin-right: 14px;
}

.basket-count {
    background: #FFC85E;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.basket-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #3F4E65;
}

.basket-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
}

.header-input {
    display: flex;
}

.header-input:ch {
    margin-right: 15px;
}