.button {
    background: #FFC85E;
    border-radius: 79px;
    cursor: pointer;
    border: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    width: 200px;
    height: 59px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button img {
    margin-left: 12px;
}

.button:hover, .big:hover, .small:hover, .round:hover {
    background: #cca24e;
}

.big {
    background: #FFC85E;
    border-radius: 80px;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 95px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.small {
    background: #FFC85E;
    border-radius: 80px;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 153px;
    height: 45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.small img {
    margin-left: 6px;
}

.round {
    cursor: pointer;
    width: 59px;
    height: 59px;
    background: #FFC85E;
    border-radius: 79px;
    border: 0;
}